#c-slider {
	margin: auto;
	width: 80%;
	max-width: 900px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px 10px rgba(100,100,100,0.6);
	border-radius: 16px;
}
#slider {
	display: flex;
	width: 300%;
}
#slider section {
	width: 100%;
}
#slider img {
	display: block;
	width: 100%;
	max-height: 330px;
	height: 100%;
}
#btn-izq, #btn-der {
	width: 30px;
	height: 40px;
	background: rgba(200,200,200,0.6); 
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}
#btn-izq:hover , #btn-der:hover {
	background: rgba(255,255,255,0.7); 
}
#btn-izq{
	left: 2px;
}
#btn-der{
	right: 2px;
}